body {
  margin: 0;
  padding: 0;
}

a.button-link {
  text-decoration: none;
  font-weight: bold;
  padding: 5px 15px;
  border: 5px solid rgb(0, 255, 255);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
a.button-link:link {
  color: rgb(128, 128, 192);
  background-color: rgb(0, 0, 0);
  border-color: rgb(64, 64, 255);
}
a.button-link:visited {
  color: rgb(128, 128, 192);
  background-color: rgb(0, 0, 0);
  border-color: rgb(64, 64, 255);
}
a.button-link:hover {
  color: rgb(192, 192, 255);
  background-color: rgb(64, 64, 64);
  border-color: rgb(96, 128, 255);
}
a.button-link:active {
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  border-color: rgb(128, 192, 255);
}

#header {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
  text-align: center;
  min-height: 10vh;

  #header-text {
    font-size: 3em;
    padding: 10px;
  }

  a {
    margin-left: 25px;
    margin-right: 25px;
  }
}

#main {
  min-height: 85vh;
  display: flex;
  justify-content: center;

  #main-content {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 800px;
  }
}

#footer {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
  text-align: center;
  min-height: 5vh;

  #footer-text {
    padding-top: 15px;
    font-size: 0.75em;
  }
}